@font-face {
    font-family: "Mplus";
    src: url(../fonts/mplus-2p-black.ttf) format("ttf");
}
.mobile {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 800px) {
    .mobile {
        width: 450px;
    }
}

.main-button {
    position: relative;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 2px 20px 2px;
    color: #34332d;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: manipulation;
    font-weight: normal;
    width: calc(25% - 15px);
    height: 135px;
    min-height: 67px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    box-shadow: rgb(0, 0, 0, 0.3) 0px 0px 12px 0px;
    box-sizing: border-box;
    overflow: hidden;
    background-position: center center !important;
    background-size: cover !important;
    background-color: rgb(44,44,44) !important;
    transition: opacity 0.2s ease-in-out 0s;
    gap: 15px;
}
.main-button img {
    filter: invert(1);
}

.main-button:active {
    top: 4px;
}

.main-button:hover {
    opacity: 0.5;
}

.menu-button {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 0;
    appearance: none;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.4rem !important;
    font-weight: 400;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out 0s;
    position: relative;
    color: #10cef2;
    background-color: rgb(56, 56, 56);
    line-height: 1rem;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 0.8rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
}

.menu-button:hover, .menu-button-1:hover {
    color: #10cef2;
}

.menu-button-1 {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 0;
    appearance: none;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.4rem !important;
    font-weight: 400;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out 0s;
    position: relative;
    color: #10cef2;
    background-color: rgb(56, 56, 56);
    line-height: 1rem;
    width: 100px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 0.8rem;
    border-radius: 25px;
}

.media-related {
    border-radius: 0.5rem;
    /*background-color: rgb(56, 56, 56);*/
    box-shadow: rgb(0, 0, 0, 0.3) 0px 0px 12px 0px;
}

.sectionnn {
    /* background: #fffefe; */
    /*border: 2px solid #636262;*/
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 12px 0px;
    color: #ffffff;
    overflow: hidden;
    padding: 20px 15px;
}

.sectionnn:hover {
    color: #ffffff;
}

.card-background-1 {
    background-color: #fffefe;
    border-radius: 10px;
    max-width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.input-background {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: block;
    width: 100%;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 400;
    color: #ffffff;
    /*background-color: #424242;*/
    padding: 1rem 1.4rem;
    border-color: #ffffff;
    border-radius: 0.4rem;
}

.input-background:-webkit-autofill {

    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: block;
    width: 100%;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 400;
    color: #ffffff;
    background-color: #424242;
    padding: 1rem 1.4rem;
    border-color: #424242;
    border-radius: 0.4rem;
}

.input-background:focus-visible {
    outline: 0;
}

.verificationInput {
    background-color: #343131;
    border: 1px solid #3a3831;
    color: #3a3831;
    width: 100%;
    height: 35px;
    border-radius: 15px 0 0 15px;
    padding-left: 5px;
}

.verificationButton {
    background: rgb(242, 79, 19);
    background: radial-gradient(circle, rgba(242, 79, 19, 1) 13%, rgba(140, 57, 27, 0.865983893557423) 89%);
    border: 1px solid #3a3831;
    color: #3a3831;
    width: 130px;
    height: 35px;
    text-decoration: none;
    padding: 8px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
}

.form-error {
    color: red;
    margin-top: 10px;
}

.border-bottom-gray {
    border-bottom: 1px solid #706d6d33;
}

.font-s-10 {
    font-size: 10px;
}

.trophy-section {
    box-shadow: rgb(0, 0, 0, 0.3) 0px 0px 12px 0px;
    border-radius: 15px;
}

.indicator {
    border: 1px solid;
    padding: 2px 5px;
    margin: 1px 4px;
    border-radius: 3px;
    font-size: 1.5rem;
    background: none;
}
.timer > div > span {
    font-size: 25px;
    font-weight: 600;
}
.timer-strategy .indicator {
    font-size: .7rem;
    color: #FFFFFF
}

.strategy-list-item::marker {
    background-color: aqua !important;
    color: aqua !important;
}

.finished-strategy-list-item::marker {
    background-color: #1ffd96 !important;
    color: #1ffd96 !important;
}


.clasic-enter {
    -webkit-animation: clasic-enter 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: clasic-enter 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes clasic-enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.buttonsSelection .active {
    background:rgb(56, 56, 56);
    border-radius: 25px;
    font-weight: bold;
}

.buttonsSelection>div {
    height: 38px;
    line-height: 38px;
    width: 25%;
    display: inline-block;
    border-radius: 25px;
    text-align: center;
}


.buttonsSelection {
    flex-wrap: wrap;
    height: 40px;
    margin-top: 25px;
    /*width: 90%;*/
    cursor:pointer;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 0px 12px 0px;
    color: #10cef2;
}

.button-select {
    font-size: 10px;
}

.code {
    text-align: start;
    color: #6b6b6b;
    background-color: #0000001f;
    font-size: 12px;
    height: 40vh;
    padding-top: 10px;
    padding-left: 25px;
    border-radius: 9px;
}

.pie-chart.code {
    padding: 0;
}
.pie-chart.code canvas {
    margin: 0 auto;
}
/*.timer > div {*/
/*    padding: 4px;*/
/*    border-radius: 4px;*/
/*    background: #6d6d6d36;*/
/*}*/

/*.timer > div > span:first-child {*/
/*    font-size: 10px;*/
/*}*/

/*.timer > div > span:last-child {*/
/*    font-weight: bold;*/
/*}*/
